<!DOCTYPE html>
<html>
<head>
  <title>Menus</title>
  <%= stylesheet_link_tag    "menus/application", media: "all" %>
  <%= javascript_include_tag "menus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
