<div id="content_fields">
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <%= f.label_with_tooltip :uid, { tooltip: t('.uid_tooltip')} %>
    <%= f.text_field :uid %>
  </div>

</div>
